<div class="list list-inset">
    <label class="item item-input" id="searchbox">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Trail name" ng-model="searchText.name" style="padding-right:5px">
    </label>
    <div style="display:inline-block;float:right;">
        <button class="button" ng-click="sortby()">
            <i class="icon ion-android-funnel"></i>
            Sort
        </button>
        <button class="button" ng-click="openFilterModal()">
            <i class="icon ion-android-options"></i>
            Filter
        </button>
    </div>
</div>