<div id="search-filter">
    <div class="item item-input">
        <i class="icon ion-search placeholder-icon icon-left"></i>
        <input type="text" placeholder="Trail name" ng-model="searchText.name" ng-change="scrollToTop()">
        <i ng-if="searchText.name.length"
           class="icon ion-android-close icon-right" ng-click="searchText.name = null"></i>
    </div>
    <div class="sort-and-filter">
        <button class="button button-stable" ng-click="sortby()">
            <i class="icon ion-android-funnel"></i>
            Sort
        </button>
        <button class="button button-stable" ng-click="openFilterModal()">
            <i class="icon ion-android-options"></i>
            Filter
        </button>
    </div>
</div>