<div id="search-filter">
    <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Trail name" ng-model="searchText.name">
    </label>
    <div>
        <button class="button button-stable" ng-click="sortby()">
            <i class="icon ion-android-funnel"></i>
            Sort
        </button>
        <button class="button button-stable" ng-click="openFilterModal()">
            <i class="icon ion-android-options"></i>
            Filter
        </button>
    </div>
</div>