<ion-view title="{{trail.name}}">
    <ion-content >
        <!-- use coordinates from trail data-->
        <div class="card" ng-if="!trail.map && !(trail.lat && trail.long)">
            <div class="item item-text-wrap none-found">
                No map
            </div>
        </div>

        <div ng-if="trail.map">
        </div>

        <div ng-controller="TrailMapController" id="trailmap" class="hike-map" data-tap-disabled="true" ng-if="!trail.map && trail.lat && trail.long">

        </div>
    </ion-content>
</ion-view>