body {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 20px 0;
    background-color: #dddddd;
}

a, a:link, a:visited, a:active, a:hover {
    text-decoration: none;
}

@media only screen and (max-device-width: 480px) {
    body {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .container {
        padding: 0;
    }
    .jumbotron {
        padding: 0 0 20px;
    }
    h1 {
        text-align: center;
    }
    .subtitle {
        text-align: center;
        line-height: 28px;
    }
    .download-container {
        text-align: center;
    }
}

.jumbotron {
    padding: 10px;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 24px;
    margin-bottom: 20px;
}

.subtitle span.location {
    font-weight: 400;
}

div.jumbotron {
    background-color: #f9f9f9;
}

div.container-fluid {
    margin-bottom: 20px;
}

.download-button, .download-button:link, .download-button:visited, .download-button:active {
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
}

.download-button:hover {
    color: white;
    background-color: darkgreen;
}

.download-button > span.glyphicon{
    margin-right: 10px;
}

.release-info .row > div:first-of-type {
    color: #aaaaaa;
}

.faq > div:first-child {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.faq > .qa > div:first-child {
    font-weight: bold;
}

.about-me, .about-me:link, .about-me:visited, .about-me:active, .about-me:hover {
    float: right;
    margin-right: 10px;
}

.my-gallery figure {
    display: inline-block;
    margin-right: 5px;
    border: 1px solid lightgray;
}