body {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 20px 0;
    background-color: #dddddd;
}

a, a:link, a:visited, a:active, a:hover {
    text-decoration: none;
}

@media only screen and (max-device-width: 480px) {
    body {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .container {
        padding: 0;
    }
    .jumbotron {
        padding: 0 0 20px;
    }
    h1 {
        text-align: center;
    }
    .subtitle {
        text-align: center;
        line-height: 28px;
    }
    .download-container {
        text-align: center;
    }

    .google-play img {
        width: 153px;
    }
}

.jumbotron {
    padding: 10px;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 24px;
    margin-bottom: 20px;
}

.subtitle span.location {
    font-weight: 400;
}

div.jumbotron {
    background-color: #f9f9f9;
}

div.container-fluid {
    margin-bottom: 20px;
}

a.github {
    padding: 24px;
}

.github:hover {
    text-decoration: underline;
}

.github img {
    width: 21px;
    margin-right: 6px;
}

.google-play img {
    width: 220px;
}

.release-info .row > div:first-of-type {
    color: #aaaaaa;
}

.about-me, .about-me:link, .about-me:visited, .about-me:active, .about-me:hover {
    float: right;
    margin-right: 10px;
}

.my-gallery figure {
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 5px;
    border: 1px solid lightgray;
}