.about-view .content {
  font-size: 12px;
  padding: 16px; }
  .about-view .content div:not(:first-child) {
    padding: 12px 0; }
  .about-view .content .email-form-intro {
    font-size: 14px;
    font-weight: 600; }
  .about-view .content #emailForm span, .about-view .content #emailForm input, .about-view .content #emailForm textarea {
    font-size: 14px; }
  .about-view .content #emailForm textarea {
    height: 140px;
    padding-left: 1rem; }
    .about-view .content #emailForm textarea::placeholder {
      padding-top: 62px; }
  .about-view .content #github-link {
    position: absolute;
    bottom: 1rem;
    right: 10px;
    font-size: 14px; }
    .about-view .content #github-link img {
      width: 14px;
      vertical-align: middle;
      margin-right: 3px; }

/*GENERAL app css changes */
* {
  font-family: sans-serif; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

ul {
  list-style-type: initial !important; }

ol {
  list-style-type: decimal !important; }

.platform-android .bar-header {
  height: 48px;
  box-shadow: 0px 2px 12px #ccc;
  padding: 0 16px; }
  .platform-android .bar-header.bar-balanced {
    border-color: #196730;
    background-color: #28A54C;
    color: #fff; }
  .platform-android .bar-header .title {
    line-height: 24px;
    font-size: 24px;
    font-weight: bold;
    margin-left: 12px;
    left: 48px;
    height: 48px;
    margin-top: 12px; }
  .platform-android .bar-header .buttons-left {
    padding-top: 5px;
    padding-bottom: 5px; }
    .platform-android .bar-header .buttons-left button {
      height: 100%; }
  .platform-android .bar-header .buttons-right {
    top: 0;
    bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px; }
    .platform-android .bar-header .buttons-right button {
      padding: 0 12px; }

.has-header {
  top: 48px; }
  .has-header.has-tabs-top {
    top: 91px; }

.tabs {
  height: 42px !important; }
  .tabs .tab-item {
    font-size: 20px; }

.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
  background: #28A54C;
  border-color: #28A54C; }

ion-header-bar > div {
  height: 48px; }

.popup {
  background-color: #FFFFFF !important;
  border-radius: 2px !important;
  min-width: 75%;
  max-width: 90%;
  padding: 10px 23px; }
  .popup .popup-head {
    display: none; }
  .popup .popup-body {
    padding: 14px 0 0 0;
    font-size: 18px; }
  .popup .popup-buttons {
    padding: 10px 0 0px 0;
    justify-content: flex-end; }
    .popup .popup-buttons button {
      font-weight: 600;
      font-size: 18px;
      color: #28A54C;
      flex: 0;
      margin: 10px 3px;
      min-width: fit-content;
      height: fit-content; }
    .popup .popup-buttons button.activated {
      border-radius: 3px;
      border-color: #FFFFFF;
      background-color: #EEEEEE;
      color: #28A54C; }
    .popup .popup-buttons button:hover {
      color: #28A54C; }

.card {
  border-radius: 4px;
  padding: 0; }

button.button-balanced {
  background-color: #28A54C !important; }

/** More specific **/
.none-found {
  font-size: 20px;
  text-align: center; }

.no-connection-alert .popup-buttons .button {
  color: #28A54C;
  max-width: 60px;
  position: absolute;
  right: 23px; }

.favourite-star {
  font-size: 42px;
  position: absolute;
  right: 0;
  top: 10px; }
  .favourite-star.is-favourite i {
    color: #FFDB4B; }

/* FILTER POPUP MODAL */
.modal-backdrop.active .modal-backdrop-bg {
  background-color: #000;
  opacity: 0.5; }

.filter-by-modal {
  bottom: 0;
  top: initial;
  min-height: initial;
  height: calc(100% - 0px); }
  .filter-by-modal .bar-header {
    font-weight: bold; }
    .filter-by-modal .bar-header .buttons button {
      color: #FFFFFF;
      font-weight: bold;
      line-height: 48px;
      font-size: 20px;
      padding: 0 10px; }
      .filter-by-modal .bar-header .buttons button#reset-button {
        position: absolute;
        left: 5px; }
      .filter-by-modal .bar-header .buttons button#save-button {
        position: absolute;
        right: 5px; }
  .filter-by-modal .filters-list .item {
    padding: 14px; }
  .filter-by-modal .filters-list .filter-difficulty {
    padding-top: 0;
    padding-bottom: 0; }
    .filter-by-modal .filters-list .filter-difficulty #filter-difficulty-title {
      display: inline-block;
      margin-top: 14px; }
    .filter-by-modal .filters-list .filter-difficulty #filter-difficulty-check {
      float: right; }
      .filter-by-modal .filters-list .filter-difficulty #filter-difficulty-check .item-checkbox {
        display: inline-block;
        padding: 14px 16px 14px 44px;
        border: none; }
  .filter-by-modal .filters-list .group-header-item {
    background-color: white; }
    .filter-by-modal .filters-list .group-header-item .filtergroup-collapsible-icon-toggle {
      float: right; }
    .filter-by-modal .filters-list .group-header-item .current-filter-name {
      color: #AAAAAA;
      float: right;
      margin-right: 24px; }
  .filter-by-modal .filters-list .item-accordian {
    line-height: 50px;
    padding: 0 16px 0 35px;
    transition: 0.09s all linear; }
    .filter-by-modal .filters-list .item-accordian.ng-hide {
      line-height: 0; }
  .filter-by-modal .filters-list .item-accordian.ng-hide-add,
  .filter-by-modal .filters-list .item-accordian.ng-hide-remove {
    display: block !important; }
  .filter-by-modal .filters-list .rzslider .rz-bar.rz-selection {
    background-color: #DDDDDD; }
  .filter-by-modal .filters-list .rzslider .rz-pointer {
    background-color: #28A54C; }
    .filter-by-modal .filters-list .rzslider .rz-pointer.rz-active:after {
      background-color: #FFF; }
  .filter-by-modal .filters-list .item-checkbox-right .checkbox input,
  .filter-by-modal .filters-list .item-checkbox-right .checkbox-icon {
    float: right; }
  .filter-by-modal .small-icon:before {
    font-size: 20px !important;
    margin-top: 2px; }

.nearby-card .row .distance-from {
  font-weight: 300;
  position: absolute;
  right: 16px;
  top: 10px; }

.nearby-card .trail-name {
  max-width: calc(100% - 3.5rem); }

/* Shared by both trail and trails map */
.scroll {
  height: 100%; }

.pin-info-description {
  background: #FFFF56;
  padding: 1px 8px; }

/* Only used by Trail Map */
.trail-map {
  height: 300px; }
  .trail-map #trail-map-js, .trail-map #trail-map-embed {
    width: 100%;
    height: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }

button#bottomMapButton {
  min-height: 10% !important;
  max-height: 10% !important;
  width: 100%; }

/* Only used by Trails Map */
#trails-map {
  width: 100%;
  height: 100%; }
  #trails-map .trail-link {
    font-size: 16px; }

.search-bar {
  height: 48px; }
  .search-bar .input-search {
    width: 100%;
    font-size: 20px;
    border-width: 0 0 1px;
    padding-top: 4px; }
  .search-bar .icon.back-button {
    font-size: 28px;
    color: #666666;
    padding: 0 16px; }
  .search-bar .icon.x-button {
    font-size: 28px;
    color: #AAAAAA;
    padding: 0 18px 0 12px; }

/** Make Main Content black when side-menu is open **/
body.menu-open .view-container {
  background-color: black; }
  body.menu-open .view-container .pane {
    opacity: 0.5 !important; }

body.menu-open .menu-content {
  transform: translate3d(75%, 0px, 0px) !important; }

/** width of side-menu **/
.menu.menu-left {
  width: 75% !important; }

/** Side Menu **/
.side-menu-content {
  background-color: #FFF;
  color: white; }
  .side-menu-content .left-side-menu-header-bar {
    text-align: center;
    background-color: #1D9943;
    color: white;
    border: 0; }
    .side-menu-content .left-side-menu-header-bar .title-name {
      font-size: 26px;
      padding: 10px 0 5px; }
    .side-menu-content .left-side-menu-header-bar .title-icon {
      width: 100%;
      max-width: 200px; }
  .side-menu-content .left-menu-item {
    font-size: 20px;
    border: 0;
    font-weight: 300; }
    .side-menu-content .left-menu-item a.item-content {
      padding: 16px 16px 16px 24px;
      background-color: #FFF;
      color: #555; }
      .side-menu-content .left-menu-item a.item-content.activated {
        background-color: #EEEEEE; }
        .side-menu-content .left-menu-item a.item-content.activated .name {
          color: #28A54C; }
    .side-menu-content .left-menu-item .icon-container {
      font-size: 28px;
      margin-right: 14px; }
    .side-menu-content .left-menu-item .name {
      font-size: 28px; }
    .side-menu-content .left-menu-item.about-menu-item {
      position: fixed;
      bottom: 8px;
      width: 75%; }

/* SORT BY popup */
.sort-trails-popup .popup-body {
  padding-top: 0;
  padding-bottom: 0; }
  .sort-trails-popup .popup-body .sort-title {
    padding: 10px 0;
    font-weight: bold;
    font-size: 20px; }
  .sort-trails-popup .popup-body .list .item {
    border: 0; }
    .sort-trails-popup .popup-body .list .item.activated input:checked + .radio-content .item-content, .sort-trails-popup .popup-body .list .item.activated .item-content {
      background-color: #EEEEEE; }
    .sort-trails-popup .popup-body .list .item input:checked + .radio-content .item-content {
      background-color: #FFFFFF; }
      .sort-trails-popup .popup-body .list .item input:checked + .radio-content .item-content span {
        /* Text of selected element */
        color: #28A54C; }
    .sort-trails-popup .popup-body .list .item input:checked + .radio-content i.radio-icon {
      /* Check icon of selected element */
      color: #28A54C;
      font-size: 20px; }
    .sort-trails-popup .popup-body .list .item .radio-content .item-content {
      padding: 16px 0 16px 3px; }
      .sort-trails-popup .popup-body .list .item .radio-content .item-content span {
        /* Text of any element */
        font-size: 16px; }

.sort-trails-popup .popup-buttons {
  display: none; }

/* SUBHEADER BAR */
.trails-nav-view ion-content {
  top: 90px !important; }

.trails-subheader-bar {
  margin-top: 48px;
  height: 42px;
  border: none;
  box-shadow: 0px 2px 12px #ccc;
  padding: 0 0 0 16px; }
  .trails-subheader-bar .number-of-results {
    width: calc(100% - 100px);
    font-size: 20px;
    line-height: 44px; }
  .trails-subheader-bar .buttons-right {
    text-align: right;
    display: -webkit-box; }
    .trails-subheader-bar .buttons-right button {
      display: flex; }
      .trails-subheader-bar .buttons-right button:nth-child(1) {
        padding: 0 12px; }
      .trails-subheader-bar .buttons-right button:nth-child(2) {
        padding: 0 12px; }
        .trails-subheader-bar .buttons-right button:nth-child(2).filters-applied {
          padding-right: 0; }
        .trails-subheader-bar .buttons-right button:nth-child(2):not(.filters-applied) {
          padding-right: 16px; }
    .trails-subheader-bar .buttons-right .filters-applied {
      color: #28A54C; }
      .trails-subheader-bar .buttons-right .filters-applied span {
        margin-left: 0; }

.trails-map-view .trails-subheader-bar .buttons-right .ion-android-funnel {
  visibility: hidden; }

.trail-tabs .tab-nav {
  top: 48px !important;
  background-color: #28A54C;
  box-shadow: 0px 5px 4px #eee;
  border-color: #28A54C;
  z-index: 10; }
  .trail-tabs .tab-nav .tab-item {
    color: #FFF; }
    .trail-tabs .tab-nav .tab-item.tab-item-active {
      border-color: #FFF; }

.trail-details-view #trail-details-content ol .item, .trail-details-view #trail-details-content ul .item {
  padding: 6px 10px 6px 35px !important; }

.trail-details-view #trail-details-content .trail-card .row:first-child {
  padding-right: 28px; }

.trail-details-view #trail-resources {
  padding: 10px; }
  .trail-details-view #trail-resources a {
    padding: 10px; }

.trail-photos-view .trail-photo .item-image img:first-child {
  width: initial;
  max-height: 70vh;
  max-width: 100%; }

.trail-photos-view .trail-photo .photoAttribution {
  position: absolute;
  bottom: 1px;
  right: 0;
  z-index: 10;
  background-color: #222222;
  opacity: 0.8;
  display: inline-block;
  padding: 1px 6px;
  font-size: 11px;
  color: #FFFFFF; }

.trail-photos-view .powered-by-google {
  float: right;
  margin: 0 16px 16px; }

/** See _trails.scss for trail-card inner css **/
/** See _maps.scss for trail-map css **/
/* TRAIL CARDS */
.trail-card a.item-content {
  padding: 4px 16px; }

.trail-card .row span:nth-child(1), .trail-card #trail-details #trail-info .item .row span:nth-child(1) {
  font-weight: bold;
  padding-right: 12px;
  color: #666; }

.trails-list .trail-card:first-of-type {
  padding-top: 5px; }

.trails-list .trail-card .row:nth-child(1) {
  /* Trail card title */
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  padding-bottom: 8px;
  padding-top: 4px; }

.trails-list .trail-card.favourite-trail {
  border-right: 10px solid #FFDB4B; }

/* See maps.css for trails-map css */
.photos-modal {
  background-color: #000; }
  .photos-modal.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important; }
  .photos-modal.photos-modal .transparent {
    background: rgba(0, 0, 0, 0.7); }
  .photos-modal .photos-modal-header {
    color: white;
    font-size: 20px;
    background-color: #333;
    opacity: 0.8;
    display: flex; }
    .photos-modal .photos-modal-header .out-of {
      flex: 1;
      padding: 18px; }
    .photos-modal .photos-modal-header .close {
      font-size: 32px;
      padding: 0 12px;
      justify-content: center;
      flex-direction: column;
      display: flex; }
      .photos-modal .photos-modal-header .close .placeholder-icon {
        color: #FFF; }
  .photos-modal .image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 150px; }
  .photos-modal .slider {
    width: 100%;
    height: 100%; }
  .photos-modal .image {
    width: 100%;
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center; }
