.about-view {
  .content {
    font-size: 12px;
    padding: 16px;

    div:not(:first-child) {
      padding: 12px 0;
    }

    .email-form-intro {
      font-size: 14px;
      font-weight: 600;
    }

    #emailForm {
      span, input, textarea {
        font-size: 14px;
      }

      textarea {
        height: 140px;
        padding-left: 1rem;
        &::placeholder {
          padding-top: 62px;
        }
      }
    }

    #github-link {
      position: absolute;
      bottom: 1rem;
      right: 10px;
      font-size: 14px;
      img {
        width: 14px;
        vertical-align: middle;
        margin-right: 3px;
      }
    }
  }
}