/* FILTER POPUP MODAL */
.modal-backdrop.active .modal-backdrop-bg {
	background-color: #000;
	opacity: 0.5;
}

.filter-by-modal {
	bottom: 0;
	top: initial;
	min-height: initial;
	height: calc(100% - 0px);

	.bar-header {
		font-weight: bold;

		.title {
			text-align: center;
			font-weight: bold;
			margin-right: 0;

			#filter-title {
				height: 18px;
				font-size: 25px;
				line-height: 25px;
				margin: 0 0 4px;
			}
			#number-of-results {
				color: #AAAAAA;
				line-height: 20px;
				font-weight: normal;
			}
		}
		.buttons {
			top: 0;
			bottom: 0;

			button {
				color: $green;
				font-weight: bold;
				line-height: $header-bar-height;
				font-size: 20px;
				padding-right: 10px;
			}
		}
	}

	.filters-list {
		.item {
			padding: $filter-item-padding;
		}
		.filter-difficulty {
			padding-top: 0;
			padding-bottom: 0;
			#filter-difficulty-title {
				display: inline-block;
				margin-top: $filter-item-padding;
			}
			#filter-difficulty-check {
				float: right;

				.item-checkbox {
					display: inline-block;
					padding: $filter-item-padding 16px $filter-item-padding 44px;
					border: none;
				}
			}
		}

		// ACCORDIAN
		.group-header-item {
			background-color: white;
			.filtergroup-collapsible-icon-toggle {
				float: right;
			}
			.current-filter-name {
				color: #AAAAAA;
				float: right;
				margin-right: 24px;
			}
		}

		.item-accordian {
			line-height: 50px;
			padding: 0 16px 0 35px;
			transition: 0.09s all linear;

			&.ng-hide {
				line-height: 0;
			}
		}

		.item-accordian.ng-hide-add,
		.item-accordian.ng-hide-remove {
			display: block !important;
		}

		// SLIDER
		.rzslider {
			.rz-bar.rz-selection {
				background-color: #DDDDDD;
			}
			.rz-pointer {
				background-color: $green;

				&.rz-active:after {
					background-color: #FFF;
				}
			}
		}

		.item-checkbox-right {
			.checkbox input,
			.checkbox-icon {
				float: right;
			}
		}
	}

	.small-icon:before {
		font-size: 20px !important;
		margin-top: 2px;
	}

	.has-footer {
		bottom: 77px;
	}

	// FOOTER
	.footer-bar {
		height: 65px;
		#apply-button {
			font-weight: bold;
			font-size: 20px;
			width: 100%;
			height: $header-bar-height;
			background-color: $green;
		}
	}
}