/* Shared by both trail and trails map */

.scroll {
	height: 100%;
}

.pin-info-description {
	background: #FFFF56;
	padding: 1px 8px;
}

/* Only used by Trail Map */
.trail-map {
	height: 300px;

	#trail-map-js, #trail-map-embed {
		width: 100%;
		height: 100%;
		border-top-left-radius: $card-border-radius;
		border-top-right-radius: $card-border-radius;
	}
}

button#bottomMapButton {
	min-height: 10% !important;
	max-height: 10% !important;
	width: 100%
}

/* Only used by Trails Map */

#trails-map {
	width: 100%;
	height: 100%;

	.trail-link {
		font-size: 16px;
	}
}