.search-bar {
	height: $header-bar-height;
	.input-search {
		width: 100%;
		font-size: 20px;
		border-width: 0 0 1px;
		padding-top: 4px;
	}
	.icon.back-button {
		font-size: 28px;
		color: #666666;
		padding: 0 16px;
	}
	.icon.x-button {
		font-size: 28px;
		color: #AAAAAA;
		padding: 0 18px 0 12px;
	}
}