/** Make Main Content black when side-menu is open **/
body.menu-open {
	.view-container {
		background-color: black;

		.pane {
			opacity: 0.5 !important;
		}
	}
	.menu-content {
		transform: translate3d($side-menu-width, 0px, 0px) !important;
	}
}

/** width of side-menu **/
.menu.menu-left {
	width: $side-menu-width !important;
}

/** Side Menu **/
.side-menu-content {
	background-color: #FFF;
	color: white;

	.left-side-menu-header-bar {
		text-align: center;
		background-color: #1D9943;
		color: white;
		border: 0;

		.title-name {
			font-size: 26px;
			padding: 10px 0 5px;
		}

		.title-icon {
			width: 100%;
			max-width: 200px;
		}
	}

	.left-menu-item {
		font-size: 20px;
		border: 0;
		font-weight: 300;

		a.item-content {
			padding: 16px 16px 16px 24px;
			background-color: #FFF;
			color: #555;
			&.activated {
				background-color: $activated-bg-color;
				.name {
					color: $green;
				}
			}
		}

		.icon-container {
			font-size: $side-menu-font-size;
			margin-right: 14px;
		}

		.name {
			font-size: $side-menu-font-size;
		}

		&.about-menu-item {
			position: fixed;
			bottom: 8px;
			width: $side-menu-width;
		}
	}
}