/* SORT BY popup */

.sort-trails-popup {
	.popup-body {
		padding-top: 0;
		.list {
			.item {
				border: 0;

				&.activated {
					input:checked + .radio-content .item-content, .item-content {
						background-color: $activated-bg-color
					}
				}

				input:checked + .radio-content {
					.item-content {
						background-color: #FFFFFF;
						span {
							/* Text of selected element */
							color: $green;
						}
					}
					i.radio-icon {
						/* Check icon of selected element */
						color: $green;
						font-size: 20px;
					}
				}

				.radio-content {
					.item-content {
						padding: 16px 0 16px 3px;
						span {
							/* Text of any element */
							font-size: 16px;
						}
					}
				}
			}
		}
	}

	.popup-buttons {
		display: none;
	}
}