/* SUBHEADER BAR */

.trails-nav-view ion-content {
	top: 90px !important;
}

.trails-subheader-bar {
	margin-top: $header-bar-height;
	border: none;
	box-shadow: $header-box-shadow;
	padding: 0 0 0 16px;
	.number-of-results {
		flex: 1;
		font-size: 20px;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	.buttons-right {
		text-align: right;
		display: -webkit-box;
		button {
			display: flex;
			
			// sort button
			&:nth-child(1) {
				padding: 0 12px;
			}
			
			// filter button
			&:nth-child(2) {
				padding: 0 12px;
				&.filters-applied {
					padding-right: 0;
				}
				&:not(.filters-applied) {
					padding-right: 16px;
				}
			}
		}
		.filters-applied {
			color: $green;
			span {
				margin-left: 0;
			}
		}
	}
}

.trails-map-view .trails-subheader-bar .buttons-right .ion-android-funnel {
	visibility: hidden;
}