/* SUBHEADER BAR */

.trails-nav-view ion-content {
	top: 105px !important;
}

.trails-subheader-bar {
	margin-top: 56px;
	height: 48px;
	border: none;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	padding: 0 0 0 16px;

	.number-of-results {
		width: calc(100% - 120px);
		font-size: 24px;
		line-height: 56px;
	}

	.buttons-right {
		min-width: 120px;
		text-align: right;
		display: -webkit-box;

		button {
			display: flex;
		}

		.filters-applied {
			color: $green;

			span {
				margin-left: 0;
			}
		}
	}
}

.trails-map-view .trails-subheader-bar .buttons-right {
	visibility: hidden;
}
