/* SUBHEADER BAR */

.trails-nav-view ion-content {
	top: 105px !important;
}

.trails-subheader-bar {
	margin-top: $header-bar-height;
	height: 48px;
	border: none;
	box-shadow: $header-box-shadow;
	padding: 0 0 0 16px;

	.number-of-results {
		width: calc(100% - 100px);
		font-size: 24px;
		line-height: $header-bar-height;
	}

	.buttons-right {
		text-align: right;
		display: -webkit-box;

		button {
			display: flex;
			
			// sort button
			&:nth-child(1) {
				padding: 0 12px;
			}
			// filter button
			&:nth-child(2) {
				padding: 0 12px;
				&:not(.filters-applied) {
					padding-right: 26px;
				}
			}
		}


		.filters-applied {
			color: $green;

			span {
				margin-left: 0;
			}
		}
	}
}

.trails-map-view .trails-subheader-bar .buttons-right .ion-android-funnel {
	visibility: hidden;
}
