.trail-tabs .tab-nav {
	top: $header-bar-height !important;
	background-color: $green;
	box-shadow: 0px 5px 4px #eee;
	border-color: $green;
	z-index: 10;

	.tab-item {
		color: #FFF;
		&.tab-item-active {
			border-color: #FFF;
		}
	}
}

.trail-details-view {
	#trail-details-content ol .item, #trail-details-content ul .item {
		padding: 6px 10px 6px 35px !important;
	}

	#trail-details-content .trail-card .row:first-child {
		padding-right: 28px;
	}

	#trail-resources {
		padding: 10px;
		a {
			padding: 10px;
		}
	}
}

.trail-photos-view {
	.trail-photo {
		.item-image img:first-child {
			width: initial;
			max-height: 70vh;
			max-width: 100%;
		}
		.photoAttribution {
			position: absolute;
			bottom: 1px;
			right: 0;
			z-index: 10;
			background-color: #222222;
			opacity: 0.8;
			display: inline-block;
			padding: 1px 6px;
			font-size: 11px;
			color: #FFFFFF;
		}
	}
	.powered-by-google {
		float: right;
		margin: 0 16px 16px;
	}
}

/** See _trails.scss for trail-card inner css **/

/** See _maps.scss for trail-map css **/