<ion-view title="About" class="about-view">
  <ion-content>
      <div class="content">
        <div>
          The information on Hiking Vancouver is provided at no cost.
          We do not guarantee the information provided to be complete or error-free.
          It is your responsibility to ensure that adequate research and preparation is performed before hiking any trail.
        </div>
        <div>
          We are not associated with any websites linked to by this app. We have no control over the content of external sites and use of these sites is done at your own risk.
        </div>
        <div>Please send any questions and comments to: </div>
      </div>
  </ion-content>
</ion-view>
