<ion-view title="Favourite Trails" class="favourite-trails-view">
    <ion-content class="trails-list">
        <div class="card" ng-if="!favouriteTrails || favouriteTrails.length === 0">
            <div class="item item-text-wrap none-found">
                No Favourite Trails Found
            </div>
        </div>
        <ion-item class="item-text-wrap trail-card" ng-if="favouriteTrails && favouriteTrails.length > 0" ng-repeat="trail in favouriteTrails" ui-sref='trail.details({name: trail.href})'>
            <div class="row">
                {{::trail.name}}
            </div>
            <div class="row" ng-if="trail.cityName && trail.regionName">
                <span>Location</span>{{::trail.cityName}} ({{::trail.regionName}})
            </div>
            <div class="row" ng-if="trail.difficulty != null">
                <span>Difficulty</span>{{::trail.difficulty| HumanizeDifficulty}}
            </div>
            <div class="row" ng-if="trail.time">
                <span>Time</span>{{::trail.time}} hours
            </div>
            <div class="row" ng-if="trail.distance && trail.distanceCategory != null">
                <span>{{::trail.distanceCategory| ConvertDistanceCategoryToString}}</span>{{::trail.distance}}km
            </div>
            <div class="row" ng-if="trail.elevation != null">
                <span>Elevation Gain</span>{{::trail.elevation| ProcessElevationToString}}
            </div>
            <div class="row" ng-if="trail.season">
                <span>Season</span>{{::trail.season| HumanizeSeason}}
            </div>
            <div class="row" ng-if="trail.transit != null">
                <span>Transit Accessible</span>{{::trail.transit| BoolToString}}
            </div>
        </ion-item>
    </ion-content>
</ion-view>
