<ion-view title="Favourite Trails">
    <ion-content>
        <div class="card" ng-if="!favourites">
            <div class="item item-text-wrap none-found">
                No favourite trails found
            </div>
        </div>
        <ion-item class="item-text-wrap list-trail-item favourite-trail" ng-if="favourites" ng-repeat="trail in favourites" ui-sref='trail.details({name: trail.href})'>
            <div class="row">
                {{::trail.name}}
            </div>
            <div class="row" ng-if="trail.location">
                <span>Location:</span>{{::trail.location}}
            </div>
            <div class="row" ng-if="trail.time">
                <span>Time:</span>{{::trail.time}} hours
            </div>
            <div class="row" ng-if="trail.distance">
                <span>Distance:</span>{{::trail.distance}}km
            </div>
            <div class="row" ng-if="trail.difficulty != null">
                <span>Difficulty:</span>{{::trail.difficulty| HumanizeDifficulty}}
            </div>
            <div class="row" ng-if="trail.season">
                <span>Season:</span>{{::trail.season| HumanizeSeason}}
            </div>
            <div class="row" ng-if="trail.dogFriendly != null">
                <span>Dog friendly:</span>{{::trail.dogFriendly| BoolToString}}
            </div>
            <div class="row" ng-if="trail.transit != null">
                <span>Transit accessible:</span>{{::trail.transit| BoolToString}}
            </div>
        </ion-item>
    </ion-content>
</ion-view>
