<div class="modal filter-by-modal">
    <ion-header-bar class="bar-stable">
        <div class="buttons">
            <button id="reset-button" class="button button-clear" ng-click="resetFilters()">Reset</button>
        </div>

        <h1 class="title">
            <div id="filter-title">Filter</div>
            <div id="number-of-results">{{tempFilteredTrails.length}} results</div>
        </h1>

        <div class="buttons">
            <button id="cancel-button" class="button button-clear" ng-click="closeFilterModal()">Cancel</button>
        </div>
    </ion-header-bar>

    <ion-content>
        <div class="list">
            <ion-item>
                <div id="filter-difficulty-title">
                    Difficulty
                </div>
                <div id="filter-difficulty-check">
                    <ion-checkbox ng-model="tempData.filterDifficultyEasy">
                        Easy
                    </ion-checkbox>
                    <ion-checkbox ng-model="tempData.filterDifficultyModerate">
                        Moderate
                    </ion-checkbox>
                    <ion-checkbox ng-model="tempData.filterDifficultyHard">
                        Hard
                    </ion-checkbox>
                </div>
            </ion-item>

            <div ng-repeat="filterGroup in filterGroups">
                <ion-item
                          ng-click="toggleGroup(filterGroup)"
                          ng-class="{active: isGroupShown(filterGroup)}"
                          class="group-header-item">
                    {{::filterGroup.name}}
                    <i class="icon filtergroup-collapsible-icon-toggle" ng-class="isGroupShown(filterGroup) ? 'ion-chevron-down' : 'ion-chevron-right'"></i>
                    <div class="current-filter-name">{{tempData[filterGroup.key].name}}</div>
                </ion-item>
                <ion-item class="item-accordion item-stable"
                          ng-repeat="item in filterGroup.items"
                          ng-show="isGroupShown(filterGroup)"
                          ng-click="saveFilterValue(filterGroup.key, item)">
                    {{::item.name}}
                </ion-item>
            </div>

            <ion-item>
                <ion-label>Time</ion-label>
                <rzslider rz-slider-model="tempData.filterTimeMin"
                          rz-slider-high="tempData.filterTimeMax"
                          rz-slider-options="filterTimeSlider.options">
                </rzslider>
            </ion-item>

            <ion-item>
                <ion-label>Distance</ion-label>
                <rzslider rz-slider-model="tempData.filterDistanceMin"
                          rz-slider-high="tempData.filterDistanceMax"
                          rz-slider-options="filterDistanceSlider.options">
                </rzslider>
            </ion-item>

            <ion-checkbox ng-model="tempData.filterInSeason" class="item-checkbox-right">
                <span>In Season (currently accessible)</span>
            </ion-checkbox>

            <ion-checkbox ng-model="tempData.filterTransit" class="item-checkbox-right">
                <span>Transit Accessible</span>
            </ion-checkbox>

            <ion-checkbox ng-model="tempData.filterDogFriendly" class="item-checkbox-right">
                <span>Must be Dog Friendly</span>
            </ion-checkbox>

        </div>
    </ion-content>

    <ion-footer-bar class="bar-clear footer-bar">
        <button id="apply-button" class="button button-balanced" ng-click="applyFilters()">Save Filters</button>
    </ion-footer-bar>
</div>