<div class="modal filter-by-modal">
    <ion-header-bar class="bar-stable">
        <div class="buttons">
            <button id="reset-button" class="button button-clear" ng-click="resetFilters()">Reset</button>
        </div>

        <h1 class="title">
            <div id="filter-title">Filter</div>
            <div id="number-of-results">{{tempFilteredTrails.length}} results</div>
        </h1>

        <div class="buttons">
            <button id="cancel-button" class="button button-clear" ng-click="closeFilterModal()">Cancel</button>
        </div>
    </ion-header-bar>

    <ion-content>
        <div class="list filters-list">
            <ion-item class="filter-difficulty">
                <div id="filter-difficulty-title">
                    Difficulty
                </div>
                <div id="filter-difficulty-check">
                    <ion-checkbox ng-model="tempData.filterDifficultyEasy">
                        Easy
                    </ion-checkbox>
                    <ion-checkbox ng-model="tempData.filterDifficultyModerate">
                        Moderate
                    </ion-checkbox>
                    <ion-checkbox ng-model="tempData.filterDifficultyHard">
                        Hard
                    </ion-checkbox>
                </div>
            </ion-item>

            <ion-item ng-click="toggleGroup('filterLocation')"
                      ng-class="{active: isGroupShown('filterLocation')}"
                      class="group-header-item">
                Location
                <i class="icon filtergroup-collapsible-icon-toggle" ng-class="isGroupShown('filterLocation') ? 'ion-chevron-down' : 'ion-chevron-right'"></i>
                <div class="current-filter-name">
                    {{updateLocationsSelectedText()}}
                </div>
            </ion-item>
            <ion-checkbox class="item-accordion item-stable item-checkbox-right"
                          ng-repeat="item in tempData.filterLocation"
                          ng-show="isGroupShown('filterLocation')"
                          ng-model="item.isChecked"
                          ng-change="evaluateTemporaryFilters()">
                {{::item.name}}
            </ion-checkbox>

            <ion-item>
                <ion-label>Time</ion-label>
                <rzslider rz-slider-model="tempData.filterTimeMin"
                          rz-slider-high="tempData.filterTimeMax"
                          rz-slider-options="filterTimeSlider.options">
                </rzslider>
            </ion-item>

            <ion-item>
                <ion-label>Distance</ion-label>
                <rzslider rz-slider-model="tempData.filterDistanceMin"
                          rz-slider-high="tempData.filterDistanceMax"
                          rz-slider-options="filterDistanceSlider.options">
                </rzslider>
            </ion-item>

            <ion-checkbox ng-model="tempData.filterInSeason" class="item-checkbox-right">
                <span>In Season (currently accessible)</span>
            </ion-checkbox>

            <ion-checkbox ng-model="tempData.filterTransit" class="item-checkbox-right">
                <span>Transit Accessible</span>
            </ion-checkbox>

            <ion-checkbox ng-model="tempData.filterDogFriendly" class="item-checkbox-right">
                <span>Must be Dog Friendly</span>
            </ion-checkbox>

        </div>
    </ion-content>

    <ion-footer-bar class="bar-clear footer-bar">
        <button id="apply-button" class="button" ng-click="applyFilters()">Save Filters</button>
    </ion-footer-bar>
</div>