<ion-tabs>
    <ion-tab title="List" ui-sref="trails.list" class="trails">
        <ion-nav-view name="trails-list-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Map" ui-sref="trails.map">
        <ion-nav-view name="trails-map-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>

<ion-content padding="true">
</ion-content>

<ion-footer-bar id="footer-bar" class="bar-balanced" ng-show="uiRouterState.current.name == 'trails.list'">
    <search-filter style="width:100%"></search-filter>
</ion-footer-bar>