<ion-view title="List of Trails">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-map" ng-click="goState('trails.map', true)">
        </button>
    </ion-nav-buttons>

    <ion-content>
        <div class="card" ng-show="filteredTrails.length === 0 && trails">
            <div class="item item-text-wrap none-found">
                No trails matching filters
                <button id="resetAllFilters" class="button button-block button-balanced" ng-click="resetFilters()">
                    Reset all filters
                </button>
            </div>
        </div>
            <ion-item class="item-text-wrap list-trail-item" ng-if="trails" ng-class="{'favourite-trail': trail.favourite}" ng-repeat="trail in filteredTrails track by trail.id" ui-sref='trail.details({name: trail.href})'>
                <div class="row">
                    {{::trail.name}}
                </div>
                <div class="row" ng-if="trail.location">
                    <span>Location:</span>{{::trail.location}}
                </div>
                <div class="row" ng-if="trail.difficulty != null">
                    <span>Difficulty:</span>{{::trail.difficulty| HumanizeDifficulty}}
                </div>
                <div class="row" ng-if="trail.time">
                    <span>Time:</span>{{::trail.time}} hours
                </div>
                <div class="row" ng-if="trail.distance && trail.distanceCategory != null">
                    <span>{{::trail.distanceCategory| ConvertDistanceCategoryToString}}:</span>{{::trail.distance}}km
                </div>
                <div class="row" ng-if="trail.elevation != null">
                    <span>Elevation Gain:</span>{{::trail.elevation| ProcessElevationToString}}
                </div>
                <div class="row" ng-if="trail.season">
                    <span>Season:</span>{{::trail.season| HumanizeSeason}}
                </div>
                <div class="row" ng-if="trail.transit != null">
                    <span>Transit Accessible:</span>{{::trail.transit| BoolToString}}
                </div>
                <div class="row" ng-if="trail.dogFriendly != null">
                    <span>Dog Friendly:</span>{{::trail.dogFriendly| BoolToString}}
                </div>
            </ion-item>
    </ion-content>     
</ion-view>

