<ion-view title="Map of Trails">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-list-outline" ng-click="goState('trails.list', true)">
        </button>
    </ion-nav-buttons>

    <ion-content>
        <div class="card" ng-hide="trails && filteredTrails.length">
            <div class="item item-text-wrap none-found">
                No trails matching filters
                <button id="resetAllFilters" class="button button-block button-assertive" ng-click="resetFilters()">
                    Reset all filters
                </button>
            </div>
        </div>

        <div ng-show="trails && filteredTrails.length" id="trails-map" class="map" data-tap-disabled="true">
        </div>
    </ion-content>
</ion-view>