<ion-view title="Map of Trails" class="trails-map-view">
    <ion-nav-bar ng-show="!searchBarActive" class="bar-balanced"> <!-- workaround for ng-class-->
        <ion-nav-buttons side="left" >
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
        <ion-nav-title>
            Trails Map
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-ios-list-outline" ng-click="goState('trails.list', true)">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <trails-subheader></trails-subheader>

    <ion-content>
        <div ng-show="trails" id="trails-map" class="map" data-tap-disabled="true">
        </div>
    </ion-content>
</ion-view>