<div class="bar bar-light trails-subheader-bar">
    <div class="number-of-results">
        <span ng-show="filteredTrails">
            {{filteredTrails.length}}
            <ng-pluralize count="filteredTrails.length"
                      when="{'one': 'result',
                       'other': 'results'}">
            </ng-pluralize>
        </span>
    </div>
    <div class="buttons-right">
        <button class="button button-icon button-clear ion-android-funnel" ng-click="sortby()">
        </button>

        <button class="button button-icon button-clear ion-android-options" ng-class="{ 'filters-applied': numberOfFiltersApplied }" ng-click="openFilterModal()">
           <span ng-show="numberOfFiltersApplied">({{numberOfFiltersApplied}})</span>
        </button>
    </div>
</div>