<ion-view title="{{trail.name}}">
    <ion-content id="trail-details">

        <div id="trail-info" class="card">
            <div class="item item-text-wrap">
                <div class="row" ng-if="trail.location">
                    <span>Location:</span>{{::trail.location}}
                </div>
                <div class="row" ng-if="trail.time">
                    <span>Time:</span>{{::trail.time}} hours
                </div>
                <div class="row" ng-if="trail.distance">
                    <span>Distance:</span>{{::trail.distance}}km
                </div>
                <div class="row" ng-if="trail.difficulty != null">
                    <span>Difficulty:</span>{{::trail.difficulty| HumanizeDifficulty}}
                </div>
                <div class="row" ng-if="trail.season">
                    <span>Season:</span>{{::trail.season| HumanizeSeason}}
                </div>
                <div class="row" ng-if="trail.dogFriendly != null">
                    <span>Dog friendly:</span>{{::trail.dogFriendly| BoolToString}}
                </div>                  
                <div class="row" ng-if="trail.transit != null">
                    <span>Transit accessible:</span>{{::trail.transit| BoolToString}}
                </div>
                <div class="row">
                    <favourite-star></favourite-star>
                </div>
            </div>
        </div>

        <div ng-if="trail.info && trail.info" id="trail-hints" class="card">
            <ul>
                <div class="item item-text-wrap">
                    <li ng-repeat="info in trail.info">{{::info}}</li>
                </div>
            </ul>
        </div>

        <!-- <div id="trail-instructions" class="card"> -->
        <div ng-if="trail.instructions && trail.instructions" id="trail-instructions" class="card">
            <ol>
                <div class="item item-text-wrap">
                    <li ng-repeat="instruction in trail.instructions">{{::instruction}}</li>
                </div>
                <!-- <div class="item item-text-wrap"><li>do that 8 do that 8do that t 8do t h a t 8</li></div>
                <div class="item item-text-wrap"><li>do that 8 do that 8do that t 8do that 8</li></div>
                <div class="item item-text-wrap"><li>do that 8 do that 8do that t 8do that 8</li></div>
                <div class="item item-text-wrap"><li>do that 8 do that 8do that t 8do that 8</li></div>
                <div class="item item-text-wrap"><li>do that 8 do that 8do that t 8do that 8</li></div>
                <div class="item item-text-wrap"><li>do that 8 do that 8do that t 8do that 8</li></div>
                <div class="item item-text-wrap"><li>do that 8 do that 8do that t 8do that 8</li></div>
                <div class="item item-text-wrap"><li>do that 8 do that 8do that t 8do that 8</li></div>
                <div class="item item-text-wrap"><li>do that 8 do that 8do that t 8do that 8</li></div>
                <div class="item item-text-wrap"><li>do that 8 do that 8do that t 8do that 8</li></div>
                <div class="item item-text-wrap"><li>do that 8 do that 8do that t 8do that 8</li></div> -->
            </ol>
        </div>

    </ion-content>
</ion-view>