<ion-view title="{{trail.name}}">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-share-alt trail-share-button"
                ng-click="shareTrail()">
        </button>
    </ion-nav-buttons>

    <ion-content>
        <div class="card" ng-if="!trail.images">
            <div class="item item-text-wrap none-found">
                No images found
            </div>
        </div>

        <div ng-if="trail.images" ng-repeat="item in trail.images" class="list card">
            <div class="item item-image">
                <!-- a ng-href = opens up full size of image -->
                <img ng-src="{{::item.image}}">
            </div>

            <div class="item item-text-wrap" ng-if="item.description">
                {{::item.description}}
            </div>
        </div>
    </ion-content>
</ion-view>