<div class="card" ng-if="!(trail.lat && trail.long)">
    <div class="item item-text-wrap none-found">
        No map
    </div>
</div>

<div class="trail-map" ng-if="trail.placeId">
    <iframe id="trail-map-embed" ng-src="{{::embedMapSrc}}">
    </iframe>
</div>
<div class="trail-map" ng-if="!trail.placeId && trail.lat && trail.long">
    <div ng-init="initJsMap()" id="trail-map-js" data-tap-disabled="true"></div>
</div>

<button id="bottomMapButton"
        ng-if="trail.lat && trail.long"
        class="button button-large" ng-click="openInMapsApp(trail.lat, trail.long)">
    Open in Maps App
</button>
