/* FILTER POPUP MODAL */
.modal-backdrop.active .modal-backdrop-bg {
    background-color: #000;
    opacity: 0.5;
}
.filter-by-modal {
    bottom: 0;
    top: initial;
    min-height: initial;
    height: calc(100% - 56px);
}

.filter-by-modal .has-footer {
    bottom: 77px;
}

.filter-by-modal .bar-header {
    font-weight: bold;
}

.filter-by-modal .bar-header .title {
    text-align: center;
    font-weight: bold;
}

.filter-by-modal .bar-header .title #filter-title {
    height: 18px;
    font-size: 25px;
    line-height: 25px;
    margin: 6px 0 4px;
}

.filter-by-modal .bar-header .title #number-of-results {
    color: #AAAAAA;
    line-height: 20px;
    font-weight: normal;
}

.filter-by-modal .bar-header .buttons {
    top: 0;
    bottom: 0;
}

.filter-by-modal .bar-header .buttons button {
    color: #28A54C;
    font-weight: bold;
    line-height: 56px;
    font-size: 24px;
    padding-right: 10px;
    paddint-top: 3px;
}

.filter-by-modal .small-icon:before {
    font-size: 20px !important;
    margin-top: 2px;
}

.filter-by-modal #filter-difficulty-title {
    display: inline-block;
}

.filter-by-modal #filter-difficulty-check {
    float: right;
}

.filter-by-modal #filter-difficulty-check .item-checkbox {
    display: inline-block;
    padding: 0 5px 0 44px;
    border: none;
}

.filter-by-modal .item-checkbox-right {
    padding: 15px;
}

.filter-by-modal .item-checkbox-right .checkbox input,
.filter-by-modal .item-checkbox-right .checkbox-icon {
    float: right;
}

/* slider */
.filter-by-modal .rzslider .rz-bar.rz-selection {
    background-color: #DDDDDD;
}

.filter-by-modal .rzslider .rz-pointer {
    background-color: #28A54C;
}

.filter-by-modal .rzslider .rz-pointer.rz-active:after {
    background-color: white;
}

/* accordian stuff */
.filter-by-modal .group-header-item.item {
    background-color: white;
}

.filter-by-modal .group-header-item.item .current-filter-name {
    color: #AAAAAA;
    float: right;
    margin-right: 24px;
}

.filter-by-modal .list .item.item-accordion {
    line-height: 50px;
    padding: 0 16px 0 35px;
    transition: 0.09s all linear;
}
.filter-by-modal .list .item.item-accordion.ng-hide {
    line-height: 0;
}
.filter-by-modal .list .item.item-accordion.ng-hide-add,
.filter-by-modal .list .item.item-accordion.ng-hide-remove {
    display: block !important;
}

.filter-by-modal .filtergroup-collapsible-icon-toggle {
    float: right;
}


/* footer */
.filter-by-modal .footer-bar {
    height: 65px;
}

.filter-by-modal .footer-bar #apply-button {
    font-weight: bold;
    font-size: 24px;
    width: 100%;
    height: 56px;
}