/* SEARCH, SORT BY, FILTER STUFF */

#footer-bar{
    padding: 4px 0;
}

#search-filter {
    padding: 0 2px 0 4px;
}

#search-filter > div.item{
    height: 34px;
    display:inline-flex;
    min-width:105px;
    width:calc(100% - 172px);
    padding-left: 0;
    margin-top: 2px;
}

#search-filter > div.item > .icon-left {
    padding-left: 8px;
    padding-right: 12px;
}

#search-filter > div.item > input {
    padding-right: 12px;
}

#search-filter > div.item > .icon-right {
    top: 10px;
    color: #bbb;
    font-size: 20px;
    padding-right:18px;
}

#search-filter > div.sort-and-filter{
    display: inline-block;
    float:right;
}

#search-filter > div.sort-and-filter > button {
    width: 80px;
    min-width: 80px;
    height: 37px;
    font-size: 16px;
    background-color: white;
    color: black;
    margin-left: 4px;
    border: 2px solid crimson;
    border-radius: 6px;
}

#search-filter > div.sort-and-filter > button > icon {
    padding-right: 3px;
}