.side-menu-content {
    background-color: #444;
    color: white;
}

.side-menu-content .left-side-menu-header-bar {
    text-align: center;
    background-color: #444;
    color: white;
}

.side-menu-content .left-side-menu-header-bar .title-name {
    font-size: 32px;
    padding-bottom: 5px;
}

.side-menu-content .left-side-menu-header-bar .title-icon {
    height: 120px;
    width: 120px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.side-menu-content .left-menu-item {
    font-size: 20px;
}

.side-menu-content .left-menu-item a.item-content {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #444;
    color: white;
}

.side-menu-content .left-menu-item .icon-container {
    margin: 0 10px;
    font-size: 42px;
    vertical-align: sub;
}


.side-menu-content .left-menu-item .name {
    font-size: 25px;
}