/** Make Main Content black when side-menu is open **/
body.menu-open .view-container {
    background-color: black;
}
body.menu-open .view-container .pane {
    opacity: 0.5 !important;
}

/** width of side-menu **/
.menu.menu-left {
    width: 75% !important;
}
.menu-open .menu-content{
    transform: translate3d(75%, 0px, 0px) !important;
}


/** Side Menu **/
.side-menu-content {
    background-color: #FFF;
    color: white;
}

.side-menu-content .left-side-menu-header-bar {
    text-align: center;
    background-color: #1D9943;
    color: white;
    border: 0;
}

.side-menu-content .left-side-menu-header-bar .title-name {
    font-size: 32px;
    padding: 10px 0 5px;
}

.side-menu-content .left-side-menu-header-bar .title-icon {
    width: 100%;
    max-width: 200px;
}

.side-menu-content .left-menu-item {
    font-size: 20px;
    border: 0;
    font-weight: 300;
}

.side-menu-content .left-menu-item a.item-content {
    padding: 16px 16px 16px 24px;
    background-color: #FFF;
    color: #555;
}

.side-menu-content .left-menu-item .icon-container {
    font-size: 34px;
    margin-right: 14px;
}

.side-menu-content .left-menu-item .name {
    font-size: 34px;
}

.side-menu-content .left-menu-item .selected {
    background-color: grey;
    color: #28A54C;
    font-weight: bold;
}