/* SORT BY popup */

.sort-trails-popup .popup-body {
    padding-top: 0;
}

.sort-trails-popup .popup-body .list .item {
    border: 0;
    height: 50px;
}

.sort-trails-popup .popup-body .list .item input:checked + .radio-content .item-content {
    background-color: white;
}

.sort-trails-popup .popup-buttons {
    display: none;
}

.sort-trails-popup .radio-content > .item-content {
    padding: 3px;
}
.sort-trails-popup .radio-content > .radio-icon {
    padding: 0 0 0 3px;
}

.sort-trails-popup .item-radio.activated {
    background-color: white;
}

/* Filled icon of selected element */
.sort-trails-popup .popup-body .list .item input:checked + .radio-content i.radio-icon {
    color: #28A54C;
    font-size: 28px;
    left: 0;
}

/* Outline icon */
.sort-trails-popup .popup-body .list .item .radio-content .item-content i {
    font-size: 24px;
    padding-right: 16px;
}

/* Outline icon of selected element */
.sort-trails-popup .popup-body .list .item input:checked + .radio-content .item-content i {
    display: none;
}

/* Text of any element */
.sort-trails-popup .popup-body .list .item .item-content span {
    font-size: 18px;
    vertical-align: text-bottom;
}

/* Text of selected element */
.sort-trails-popup .popup-body .list .item input:checked + .radio-content .item-content span {
    margin-left: 37px;
}