/*GENERAL app css changes *//

.left-menu-item {
    font-size: 20px;
}

.icon-container {
    margin: 0 10px;
    font-size: 25px;
}

.popup-head{
    border-color: #e42012;
    background: #ef473a linear-gradient(0deg, #e42012, #e42012 50%, transparent 50%);
    color: #fff;
}

.popup-head .popup-title {
    color:white;
}

.bar.bar-balanced {
    border-color: #196730;
    background-color: #28a54c;
    background-image: linear-gradient(0deg, #196730, #196730 50%, transparent 50%);
    color: #fff;
}


ul {
    list-style-type: initial !important;
}

ol {
    list-style-type: decimal !important;
}

.none-found {
    font-weight:bold; 
    text-align:center;
}