/*GENERAL app css changes */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.side-menu-content {
    background-color: #444;
    color: white;
}

.side-menu-content .left-side-menu-header-bar {
    text-align: center;
    background-color: #444;
    color: white;
}

.side-menu-content .left-side-menu-header-bar .title-name {
    font-size: 32px;
    padding-bottom: 5px;
}

.side-menu-content .left-side-menu-header-bar .title-icon {
    height: 120px;
    width: 120px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.side-menu-content .left-menu-item {
    font-size: 20px;
}

.side-menu-content .left-menu-item a.item-content {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #444;
    color: white;
}

.side-menu-content .left-menu-item .icon-container {
    margin: 0 10px;
    font-size: 42px;
    vertical-align: sub;
}


.side-menu-content .left-menu-item .name {
    font-size: 25px;
}

.bar.bar-balanced {
    border-color: #196730;
    background-color: #28a54c;
    background-image: linear-gradient(0deg, #196730, #196730 50%, transparent 50%);
    color: #fff;
}


ul {
    list-style-type: initial !important;
}

ol {
    list-style-type: decimal !important;
}

.none-found {
    font-weight: bold;
    text-align: center;
}

.platform-android .bar .title {
    line-height: 55px !important;
}

.tabs{
    height: 37px !important;
}

.tab-item{
    font-size: 18px;
}

.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
    background: green;
    border-color: green;
}
