/* Empty. Add your own CSS if you like */
.left-menu-item {
    font-size: 20px;
}

.icon-container {
    margin: 0 10px;
    font-size: 25px;
}

.popup-head{
    border-color: #e42012;
    background-color: #ef473a;
    background-image: linear-gradient(0deg, #e42012, #e42012 50%, transparent 50%);
    color: #fff;
}

.popup-head .popup-title {
    color:white;
}