/* TRAIL CARDS */

.list-trail-item{

}

.list-trail-item.favourite-trail {
    border-right: 10px solid #FFDB4B;
}

.list-trail-item a.item-content {
    padding: 5px 10px;
}

.list-trail-item .row:nth-child(1) {
    font-weight:bold;
    font-size: 1.2em;
    padding-bottom:10px;
}

.list-trail-item .row span:nth-child(1) {
    font-weight: bold;
    padding-right: 5px;
}


/* See maps.css for trails-map css */