/* TRAIL CARDS */

.list-trail-item {

}

.list-trail-item.favourite-trail {
    border-right: 10px solid #FFDB4B;
}

.list-trail-item a.item-content {
    padding: 10px 16px;
}

.list-trail-item .row:nth-child(1) {
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 8px;
    padding-top: 0;
}

.list-trail-item .row span:nth-child(1), #trail-details #trail-info .item .row span:nth-child(1) {
    font-weight: bold;
    padding-right: 16px;
    color: #666;
}

.nearby-card .row .distance-from {
    font-weight: 300;
    position: absolute;
    right: 16px;
    top: 10px;
}

/* See maps.css for trails-map css */