.trail-tabs .tab-nav {
    top: 56px !important;
}

#trail-info {
    
}

#trail-details ol .item,  #trail-details ul .item{
    padding: 6px 10px 6px 35px !important;
}

.trail-favourite{
    font-size: 50px;
    position: absolute;
    right: 0;
    top: 10px;
}

.trail-photo .photoAttribution {
    position: absolute;
    bottom: 1px;
    right: 0;
    z-index: 10;
    background-color: #222222;
    opacity: 0.8;
    display: inline-block;
    padding: 0 5px;
    font-size: 10px;
}

.powered-by-google {
    float: right;
    margin-right: 16px;
    margin-bottom: 8px;
}

/** See trails.css for trail-card inner css **/

/** See maps.css for trail-map css **/